<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.7.4/jsoneditor.min.js"
        integrity="sha512-KQaWlVsZF0iPXCR8p176hVrg/rlw+smy8dpJ+vwiuvoHyGr8PTVvaAV4ZmsAYdCvMRP8e3sB9pl1mRuaunaXrg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.7.4/jsoneditor.css"
        integrity="sha512-XmjnlPNi5tkrcqMGEG7ZOpGhny9t8fdCk0oxZxjFaqF3cl3UKv+51GgeUoY3Rf/ZaGtBvMZ9dDhceGZ1hcOyMw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>

<body>
    <div class="container mx-auto flex flex-col gap-4 p-2 items-center">
        <h1 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
            <%= title %>
        </h1>

        <div class="custId flex gap-2 items-stretch justify-center">
            <div class="flex flex-col">
                <label class="flex text-gray-700">
                    Customer ID :
                </label>
                <input type="text" class="border p-2 mt-2 w-full rounded-md" id="custId" value=<%=custId %>>
            </div>
            <button onclick="findCustomerPM()"
                class="mt-2 bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition duration-300">FIND
                CUSTOMER PM!</button>
        </div>

        <div class="results flex flex-col lg:flex-row gap-2">
            <div id="vaultListSection" class="flex flex-col gap-2 hidden">
                <h2 class="text-2xl font-extrabold dark:text-white">Payment Method Vaulted list:</h2>
                <div id="cards-container" class="grid grid-cols-1 gap-6">
                    <!-- Les cartes seront injectées ici -->
                </div>
            </div>

            <div id="fullResponseSection" class="flex flex-col gap-2 hidden">
                <h2 class="text-2xl font-extrabold dark:text-white">Full response:</h2>
                <div class="result customer p-4 rounded-lg shadow-md hidden">
                    <pre class="p-2 rounded-md"></pre>
                </div>
            </div>
        </div>


        <div id="createTrxSection" class="flex flex-col gap-4 hidden">
            <h2 class="text-2xl font-extrabold dark:text-white">Create the transaction: </h2>
            <div class="jsonContent" id="jsoneditor"></div>
            <p class="ml-2 text-sm font-medium text-gray-900">Pay with my saved account</p>
            <button id="ppBtn" class="ppBtn flex items-center justify-start hidden" onclick="returning()">
                <svg width="507" height="55" viewBox="0 0 507 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="507" height="55" rx="4" fill="#FFC439" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M292.85 17.4502L290.25 34.7002C290.2 35.0502 290.45 35.3502 290.75 35.3502H293.35C293.8 35.3502 294.15 35.0002 294.2 34.6002L296.75 17.7002C296.8 17.3502 296.55 17.0502 296.25 17.0502H293.3C293.1 17.0002 292.9 17.2002 292.85 17.4502Z"
                        fill="#009CDE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M284.6 29.1501C284.3 30.9001 282.85 32.1001 281.05 32.1001C280.15 32.1001 279.4 31.8001 278.95 31.2501C278.5 30.7001 278.3 29.9501 278.45 29.1001C278.75 27.3501 280.2 26.1501 281.95 26.1501C282.85 26.1501 283.55 26.4501 284.05 27.0001C284.5 27.5001 284.7 28.3001 284.6 29.1501ZM288.95 23.1501H285.8C285.55 23.1501 285.3 23.3501 285.25 23.6001L285.1 24.4501L284.9 24.1501C284.2 23.2001 282.7 22.8501 281.2 22.8501C277.75 22.8501 274.75 25.4001 274.2 29.0501C273.9 30.8501 274.35 32.5501 275.35 33.7501C276.3 34.8501 277.7 35.3001 279.3 35.3001C282.1 35.3001 283.65 33.5501 283.65 33.5501L283.5 34.4001C283.45 34.7001 283.7 35.0001 284.05 35.0001H286.9C287.35 35.0001 287.75 34.7001 287.8 34.2501L289.5 23.7501C289.55 23.4501 289.3 23.1501 288.95 23.1501Z"
                        fill="#009CDE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M270.5 23.2C270.15 25.55 268.3 25.55 266.55 25.55H265.55L266.25 21.15C266.3 20.9 266.55 20.7 266.8 20.7H267.25C268.45 20.7 269.6 20.7 270.2 21.4C270.55 21.75 270.65 22.35 270.5 23.2ZM269.75 17H263.05C262.6 17 262.2 17.35 262.15 17.75L259.45 34.65C259.4 35 259.65 35.3 260 35.3H263.45C263.75 35.3 264.05 35.05 264.1 34.75L264.85 29.95C264.9 29.5 265.3 29.2 265.75 29.2H267.85C272.25 29.2 274.8 27.1 275.45 22.95C275.75 21.15 275.45 19.7 274.6 18.7C273.65 17.6 271.95 17 269.75 17Z"
                        fill="#009CDE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M258.9 22.8501H255.7C255.4 22.8501 255.1 23.0001 254.95 23.2501L250.5 29.5501L248.6 23.5001C248.5 23.1001 248.1 22.8501 247.7 22.8501H244.55C244.15 22.8501 243.9 23.2001 244 23.5501L247.55 33.6001L244.25 38.1501C244 38.5001 244.3 39.0001 244.75 39.0001H247.95C248.25 39.0001 248.55 38.8501 248.7 38.6001L259.35 23.7001C259.6 23.3501 259.35 22.8501 258.9 22.8501Z"
                        fill="#003087" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M237.65 29.1501C237.35 30.9001 235.9 32.1001 234.1 32.1001C233.2 32.1001 232.45 31.8001 232 31.2501C231.55 30.7001 231.35 29.9501 231.5 29.1001C231.8 27.3501 233.25 26.1501 235 26.1501C235.9 26.1501 236.6 26.4501 237.1 27.0001C237.6 27.5001 237.8 28.3001 237.65 29.1501ZM242 23.1501H238.85C238.6 23.1501 238.35 23.3501 238.3 23.6001L238.15 24.4501L238 24.1501C237.3 23.2001 235.8 22.8501 234.3 22.8501C230.85 22.8501 227.85 25.4001 227.3 29.0501C227 30.8501 227.45 32.5501 228.45 33.7501C229.4 34.8501 230.8 35.3001 232.4 35.3001C235.2 35.3001 236.75 33.5501 236.75 33.5501L236.6 34.4001C236.55 34.7001 236.8 35.0001 237.15 35.0001H240C240.45 35.0001 240.85 34.7001 240.9 34.2501L242.6 23.7501C242.6 23.4501 242.35 23.1501 242 23.1501Z"
                        fill="#003087" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M223.55 23.2C223.2 25.55 221.35 25.55 219.6 25.55H218.6L219.3 21.15C219.35 20.9 219.6 20.7 219.85 20.7H220.3C221.5 20.7 222.65 20.7 223.25 21.4C223.6 21.75 223.7 22.35 223.55 23.2ZM222.8 17H216.1C215.65 17 215.3 17.35 215.2 17.75L212.5 34.7C212.45 35.05 212.7 35.35 213.05 35.35H216.25C216.7 35.35 217.1 35 217.15 34.6L217.9 30.05C217.95 29.6 218.35 29.3 218.8 29.3H220.9C225.3 29.3 227.85 27.2 228.5 23.05C228.8 21.25 228.5 19.8 227.65 18.8C226.7 17.6 225.05 17 222.8 17Z"
                        fill="#003087" />
                </svg>
                <span id="emailOnButton" class="px-10">
                    test@test.com
                </span>
            </button>
            <p class="ml-2 text-sm font-medium text-gray-900">Or with a new PayPal account or with PayPal BNPL</p>
            <div id="divTwoPPbutton" class="flex gap-2 flex-<%= col_row %>">
                <div class="ppBtn flex justify-center" onclick="oneShot(false)">
                    <svg width="507" height="55" viewBox="0 0 507 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="507" height="55" rx="4" fill="#FFC439" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M292.85 17.4502L290.25 34.7002C290.2 35.0502 290.45 35.3502 290.75 35.3502H293.35C293.8 35.3502 294.15 35.0002 294.2 34.6002L296.75 17.7002C296.8 17.3502 296.55 17.0502 296.25 17.0502H293.3C293.1 17.0002 292.9 17.2002 292.85 17.4502Z"
                            fill="#009CDE" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M284.6 29.1501C284.3 30.9001 282.85 32.1001 281.05 32.1001C280.15 32.1001 279.4 31.8001 278.95 31.2501C278.5 30.7001 278.3 29.9501 278.45 29.1001C278.75 27.3501 280.2 26.1501 281.95 26.1501C282.85 26.1501 283.55 26.4501 284.05 27.0001C284.5 27.5001 284.7 28.3001 284.6 29.1501ZM288.95 23.1501H285.8C285.55 23.1501 285.3 23.3501 285.25 23.6001L285.1 24.4501L284.9 24.1501C284.2 23.2001 282.7 22.8501 281.2 22.8501C277.75 22.8501 274.75 25.4001 274.2 29.0501C273.9 30.8501 274.35 32.5501 275.35 33.7501C276.3 34.8501 277.7 35.3001 279.3 35.3001C282.1 35.3001 283.65 33.5501 283.65 33.5501L283.5 34.4001C283.45 34.7001 283.7 35.0001 284.05 35.0001H286.9C287.35 35.0001 287.75 34.7001 287.8 34.2501L289.5 23.7501C289.55 23.4501 289.3 23.1501 288.95 23.1501Z"
                            fill="#009CDE" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M270.5 23.2C270.15 25.55 268.3 25.55 266.55 25.55H265.55L266.25 21.15C266.3 20.9 266.55 20.7 266.8 20.7H267.25C268.45 20.7 269.6 20.7 270.2 21.4C270.55 21.75 270.65 22.35 270.5 23.2ZM269.75 17H263.05C262.6 17 262.2 17.35 262.15 17.75L259.45 34.65C259.4 35 259.65 35.3 260 35.3H263.45C263.75 35.3 264.05 35.05 264.1 34.75L264.85 29.95C264.9 29.5 265.3 29.2 265.75 29.2H267.85C272.25 29.2 274.8 27.1 275.45 22.95C275.75 21.15 275.45 19.7 274.6 18.7C273.65 17.6 271.95 17 269.75 17Z"
                            fill="#009CDE" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M258.9 22.8501H255.7C255.4 22.8501 255.1 23.0001 254.95 23.2501L250.5 29.5501L248.6 23.5001C248.5 23.1001 248.1 22.8501 247.7 22.8501H244.55C244.15 22.8501 243.9 23.2001 244 23.5501L247.55 33.6001L244.25 38.1501C244 38.5001 244.3 39.0001 244.75 39.0001H247.95C248.25 39.0001 248.55 38.8501 248.7 38.6001L259.35 23.7001C259.6 23.3501 259.35 22.8501 258.9 22.8501Z"
                            fill="#003087" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M237.65 29.1501C237.35 30.9001 235.9 32.1001 234.1 32.1001C233.2 32.1001 232.45 31.8001 232 31.2501C231.55 30.7001 231.35 29.9501 231.5 29.1001C231.8 27.3501 233.25 26.1501 235 26.1501C235.9 26.1501 236.6 26.4501 237.1 27.0001C237.6 27.5001 237.8 28.3001 237.65 29.1501ZM242 23.1501H238.85C238.6 23.1501 238.35 23.3501 238.3 23.6001L238.15 24.4501L238 24.1501C237.3 23.2001 235.8 22.8501 234.3 22.8501C230.85 22.8501 227.85 25.4001 227.3 29.0501C227 30.8501 227.45 32.5501 228.45 33.7501C229.4 34.8501 230.8 35.3001 232.4 35.3001C235.2 35.3001 236.75 33.5501 236.75 33.5501L236.6 34.4001C236.55 34.7001 236.8 35.0001 237.15 35.0001H240C240.45 35.0001 240.85 34.7001 240.9 34.2501L242.6 23.7501C242.6 23.4501 242.35 23.1501 242 23.1501Z"
                            fill="#003087" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M223.55 23.2C223.2 25.55 221.35 25.55 219.6 25.55H218.6L219.3 21.15C219.35 20.9 219.6 20.7 219.85 20.7H220.3C221.5 20.7 222.65 20.7 223.25 21.4C223.6 21.75 223.7 22.35 223.55 23.2ZM222.8 17H216.1C215.65 17 215.3 17.35 215.2 17.75L212.5 34.7C212.45 35.05 212.7 35.35 213.05 35.35H216.25C216.7 35.35 217.1 35 217.15 34.6L217.9 30.05C217.95 29.6 218.35 29.3 218.8 29.3H220.9C225.3 29.3 227.85 27.2 228.5 23.05C228.8 21.25 228.5 19.8 227.65 18.8C226.7 17.6 225.05 17 222.8 17Z"
                            fill="#003087" />
                    </svg>
                </div>
                <div class="ppBtn btnBnpl flex justify-center" onclick="oneShot(true)">
                    <svg width="507" height="55" viewBox="0 0 350 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="507" height="45" rx="4" fill="#0070BA" />
                        <g clip-path="url(#clip0_496_77975)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M139.26 16.8753C139.573 15.1045 139.26 13.8545 138.271 12.7607C137.281 11.5628 135.354 11.042 132.854 11.042H125.823C125.302 11.042 124.885 11.4066 124.781 11.9274L121.812 30.7295C121.76 31.0941 122.021 31.4066 122.385 31.4066H126.76L126.448 33.3337C126.396 33.6982 126.656 33.9587 126.969 33.9587H130.666C131.135 33.9587 131.5 33.5941 131.552 33.2295L131.604 33.0732L132.281 28.6982L132.333 28.4899C132.385 28.0732 132.802 27.7607 133.219 27.7607H133.791C137.385 27.7607 140.198 26.3024 141.031 22.0837C141.396 20.3649 141.187 18.8545 140.302 17.8128C140.041 17.3441 139.677 17.0837 139.26 16.8753Z"
                                fill="white" fill-opacity="0.68" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M139.26 16.8753C139.573 15.1045 139.26 13.8545 138.271 12.7607C137.281 11.5628 135.354 11.042 132.854 11.042H125.823C125.302 11.042 124.885 11.4066 124.781 11.9274L121.812 30.7295C121.76 31.0941 122.021 31.4066 122.385 31.4066H126.76L127.854 24.4274L127.802 24.6357C127.906 24.1149 128.375 23.7503 128.844 23.7503H130.927C135.041 23.7503 138.219 22.0837 139.208 17.292C139.208 17.1357 139.26 16.9795 139.26 16.8753Z"
                                fill="white" fill-opacity="0.7" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M129.104 16.8753C129.156 16.5628 129.312 16.3545 129.625 16.1982C129.729 16.1462 129.833 16.0941 130.041 16.0941H135.614C136.239 16.1462 136.864 16.1982 137.489 16.2503C137.646 16.2503 137.802 16.3024 137.958 16.3545C138.114 16.4066 138.271 16.4066 138.427 16.4587C138.479 16.4587 138.531 16.5107 138.635 16.5107C138.948 16.6149 139.156 16.667 139.364 16.8753C139.677 15.1045 139.364 13.8545 138.375 12.7607C137.333 11.5628 135.406 11.042 132.906 11.042H125.823C125.302 11.042 124.885 11.4066 124.781 11.9274L121.812 30.7295C121.76 31.0941 122.021 31.4066 122.385 31.4066H126.76L129.104 16.8753Z"
                                fill="white" />
                            <path
                                d="M149.709 13.6543H156.164C157.44 13.6543 158.469 14.0156 159.25 14.7383C160.031 15.4544 160.422 16.4635 160.422 17.7656C160.422 18.8854 160.074 19.862 159.377 20.6953C158.68 21.5221 157.609 21.9355 156.164 21.9355H151.652V28H149.709V13.6543ZM158.459 17.7754C158.459 16.7207 158.068 16.0046 157.287 15.627C156.857 15.4251 156.268 15.3242 155.52 15.3242H151.652V20.2949H155.52C156.392 20.2949 157.098 20.1094 157.639 19.7383C158.186 19.3672 158.459 18.7129 158.459 17.7754ZM163.977 25.2168C163.977 25.7246 164.162 26.125 164.533 26.418C164.904 26.7109 165.344 26.8574 165.852 26.8574C166.47 26.8574 167.069 26.7142 167.648 26.4277C168.625 25.9525 169.113 25.1745 169.113 24.0938V22.6777C168.898 22.8145 168.622 22.9284 168.283 23.0195C167.945 23.1107 167.613 23.1758 167.287 23.2148L166.223 23.3516C165.585 23.4362 165.106 23.5697 164.787 23.752C164.247 24.0579 163.977 24.5462 163.977 25.2168ZM168.234 21.6621C168.638 21.61 168.908 21.4408 169.045 21.1543C169.123 20.998 169.162 20.7734 169.162 20.4805C169.162 19.8815 168.947 19.4486 168.518 19.1816C168.094 18.9082 167.486 18.7715 166.691 18.7715C165.773 18.7715 165.122 19.0189 164.738 19.5137C164.523 19.7871 164.383 20.194 164.318 20.7344H162.678C162.71 19.4453 163.127 18.5501 163.928 18.0488C164.735 17.541 165.669 17.2871 166.73 17.2871C167.961 17.2871 168.96 17.5215 169.729 17.9902C170.49 18.459 170.871 19.1882 170.871 20.1777V26.2031C170.871 26.3854 170.907 26.5319 170.979 26.6426C171.057 26.7533 171.216 26.8086 171.457 26.8086C171.535 26.8086 171.623 26.8053 171.721 26.7988C171.818 26.7858 171.923 26.7695 172.033 26.75V28.0488C171.76 28.127 171.551 28.1758 171.408 28.1953C171.265 28.2148 171.07 28.2246 170.822 28.2246C170.217 28.2246 169.777 28.0098 169.504 27.5801C169.361 27.3522 169.26 27.0299 169.201 26.6133C168.843 27.082 168.329 27.4889 167.658 27.834C166.988 28.179 166.249 28.3516 165.441 28.3516C164.471 28.3516 163.677 28.0586 163.059 27.4727C162.447 26.8802 162.141 26.1413 162.141 25.2559C162.141 24.2858 162.443 23.5339 163.049 23C163.654 22.4661 164.449 22.1374 165.432 22.0137L168.234 21.6621ZM180.295 17.541H182.238C181.991 18.2116 181.441 19.7415 180.588 22.1309C179.95 23.9277 179.416 25.3926 178.986 26.5254C177.971 29.1947 177.255 30.8223 176.838 31.4082C176.421 31.9941 175.705 32.2871 174.689 32.2871C174.442 32.2871 174.25 32.2773 174.113 32.2578C173.983 32.2383 173.82 32.2025 173.625 32.1504V30.5488C173.931 30.6335 174.152 30.6855 174.289 30.7051C174.426 30.7246 174.546 30.7344 174.65 30.7344C174.976 30.7344 175.214 30.679 175.363 30.5684C175.52 30.4642 175.65 30.334 175.754 30.1777C175.786 30.1257 175.904 29.8587 176.105 29.377C176.307 28.8952 176.454 28.5371 176.545 28.3027L172.678 17.541H174.67L177.473 26.0566L180.295 17.541ZM189.562 13.6543H191.506V26.291H198.771V28H189.562V13.6543ZM201.809 25.2168C201.809 25.7246 201.994 26.125 202.365 26.418C202.736 26.7109 203.176 26.8574 203.684 26.8574C204.302 26.8574 204.901 26.7142 205.48 26.4277C206.457 25.9525 206.945 25.1745 206.945 24.0938V22.6777C206.73 22.8145 206.454 22.9284 206.115 23.0195C205.777 23.1107 205.445 23.1758 205.119 23.2148L204.055 23.3516C203.417 23.4362 202.938 23.5697 202.619 23.752C202.079 24.0579 201.809 24.5462 201.809 25.2168ZM206.066 21.6621C206.47 21.61 206.74 21.4408 206.877 21.1543C206.955 20.998 206.994 20.7734 206.994 20.4805C206.994 19.8815 206.779 19.4486 206.35 19.1816C205.926 18.9082 205.318 18.7715 204.523 18.7715C203.605 18.7715 202.954 19.0189 202.57 19.5137C202.355 19.7871 202.215 20.194 202.15 20.7344H200.51C200.542 19.4453 200.959 18.5501 201.76 18.0488C202.567 17.541 203.501 17.2871 204.562 17.2871C205.793 17.2871 206.792 17.5215 207.561 17.9902C208.322 18.459 208.703 19.1882 208.703 20.1777V26.2031C208.703 26.3854 208.739 26.5319 208.811 26.6426C208.889 26.7533 209.048 26.8086 209.289 26.8086C209.367 26.8086 209.455 26.8053 209.553 26.7988C209.65 26.7858 209.755 26.7695 209.865 26.75V28.0488C209.592 28.127 209.383 28.1758 209.24 28.1953C209.097 28.2148 208.902 28.2246 208.654 28.2246C208.049 28.2246 207.609 28.0098 207.336 27.5801C207.193 27.3522 207.092 27.0299 207.033 26.6133C206.675 27.082 206.161 27.4889 205.49 27.834C204.82 28.179 204.081 28.3516 203.273 28.3516C202.303 28.3516 201.509 28.0586 200.891 27.4727C200.279 26.8802 199.973 26.1413 199.973 25.2559C199.973 24.2858 200.275 23.5339 200.881 23C201.486 22.4661 202.281 22.1374 203.264 22.0137L206.066 21.6621ZM211.945 14.6211H213.723V17.541H215.393V18.9766H213.723V25.8027C213.723 26.1673 213.846 26.4115 214.094 26.5352C214.23 26.6068 214.458 26.6426 214.777 26.6426C214.862 26.6426 214.953 26.6426 215.051 26.6426C215.148 26.6361 215.262 26.6263 215.393 26.6133V28C215.191 28.0586 214.979 28.1009 214.758 28.127C214.543 28.153 214.309 28.166 214.055 28.166C213.234 28.166 212.678 27.9577 212.385 27.541C212.092 27.1178 211.945 26.571 211.945 25.9004V18.9766H210.529V17.541H211.945V14.6211ZM221.516 17.3066C222.258 17.3066 222.977 17.4824 223.674 17.834C224.37 18.179 224.901 18.6283 225.266 19.1816C225.617 19.709 225.852 20.3242 225.969 21.0273C226.073 21.5091 226.125 22.2773 226.125 23.332H218.459C218.492 24.3932 218.742 25.2461 219.211 25.8906C219.68 26.5286 220.406 26.8477 221.389 26.8477C222.307 26.8477 223.039 26.5449 223.586 25.9395C223.898 25.5879 224.12 25.181 224.25 24.7188H225.979C225.933 25.1029 225.78 25.5326 225.52 26.0078C225.266 26.4766 224.979 26.8607 224.66 27.1602C224.126 27.681 223.465 28.0326 222.678 28.2148C222.255 28.319 221.776 28.3711 221.242 28.3711C219.94 28.3711 218.837 27.8991 217.932 26.9551C217.027 26.0046 216.574 24.6764 216.574 22.9707C216.574 21.291 217.03 19.9271 217.941 18.8789C218.853 17.8307 220.044 17.3066 221.516 17.3066ZM224.318 21.9355C224.247 21.1738 224.081 20.5651 223.82 20.1094C223.339 19.263 222.535 18.8398 221.408 18.8398C220.601 18.8398 219.924 19.1328 219.377 19.7188C218.83 20.2982 218.54 21.0371 218.508 21.9355H224.318ZM228.342 17.541H230.012V19.3477C230.148 18.9961 230.484 18.5697 231.018 18.0684C231.551 17.5605 232.167 17.3066 232.863 17.3066C232.896 17.3066 232.951 17.3099 233.029 17.3164C233.107 17.3229 233.241 17.3359 233.43 17.3555V19.2109C233.326 19.1914 233.228 19.1784 233.137 19.1719C233.052 19.1654 232.958 19.1621 232.854 19.1621C231.968 19.1621 231.288 19.4486 230.812 20.0215C230.337 20.5879 230.1 21.2422 230.1 21.9844V28H228.342V17.541Z"
                                fill="white" />
                        </g>
                        <defs>
                            <clipPath id="clip0_496_77975">
                                <rect width="125" height="26" fill="white" transform="translate(119 9)" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
        </div>

        <div class="result trx bg-blue-100 p-4 rounded-lg shadow-md hidden">
            <pre></pre>
        </div>

        <div id="oneTimeTokenize" class="bg-red-100 p-4 rounded-lg shadow-md hidden">
            <div>
                <a class="text-sm italic hover:underline text-blue-500" target="_blank"
                    href="https://developer.paypal.com/braintree/graphql/reference#Mutation--tokenizePayPalOneTimePayment">tokenizePayPalOneTimePayment
                    mutation</a>
                <label class="block text-gray-700">
                    Payment ID retrieved in the return URL.
                </label>
                <input id="paymentId" type="text" class="border p-2 mt-2 w-full rounded-md bg-white">
                <label class="block text-gray-700">
                    Payer ID retrieved in the return URL.
                </label>
                <input id="payerId" type="text" class="border p-2 mt-2 w-full rounded-md bg-white">
                <button onclick="tokenizeOneTime()"
                    class="mt-2 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300">Tokenize
                    !</button>
            </div>

            <div class="result tokenize mt-4">
                <pre class="bg-white p-2 rounded-md"></pre>
            </div>
        </div>

        <div id="chargePaymentMethod" class="bg-blue-100 p-4 rounded-lg shadow-md hidden">
            <div>
                <a class="text-sm italic hover:underline text-blue-500" target="_blank"
                    href="https://developer.paypal.com/braintree/graphql/reference#Mutation--chargePaymentMethod">chargePaymentMethod
                    mutation</a>
                <label class="block text-gray-700">
                    Payment Method Id to Charge :
                </label>
                <input type="text" class="border p-2 mt-2 w-full rounded-md bg-white">
                <button onclick="chargePM()"
                    class="mt-2 bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition duration-300">Charge
                    !</button>
            </div>

            <div class="result vault mt-4">
                <pre class="bg-white p-2 rounded-md"></pre>
            </div>
        </div>
    </div>
    <a href="https://github.com/lugapi/Braintree_GraphQL_Node" target="_blank" class="github-button">
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo"
            width="30" height="30">
    </a>
</body>
<script src="returning.js"></script>

</html>